<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="">
    <textarea ng-model="name"></textarea>
    <pre/>
    <hr>
    {{name}}
    <script src="node_modules/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="node_modules/angular/angular.min.js" charset="utf-8"></script>
<script type="text/javascript">
</script>
</body>
</html>
